/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++   container  ++++++++++++++++++++++++++++++++*/

.page-container {
    background-image: url('../img/bg-01.jpg');
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++        Form       ++++++++++++++++++++++++++++*/

.form-container {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding: 80px 55px 55px;
    background: #ffffff;
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-family: SourceSansPro-Bold, serif;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}

input {
    font-family: SourceSansPro-Regular, sans-serif;
    width: 100%;
    background-color: transparent;
    border: 2px none #4b2354;
    border-bottom-style: solid;
    margin-bottom: 20px;
    outline: none;
    color: #4b2354;
    display: block;
    height: 62px;
    padding: 0 20px 0 15px;
}

input::-webkit-input-placeholder { color: #4b2354;}
input:-moz-placeholder { color: #4b2354;}
input::-moz-placeholder { color: #4b2354;}
input:-ms-input-placeholder { color: #4b2354;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  ++++++++++++++++++++++++++++    Button   +++++++++++++++++++++++++++++++++++++++*/
.container-btn {
    width: 100%;
    text-align: center;
    margin: 60px 0 40px;
}
.login-form-btn {
    outline: none;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bd59d4;
    border-radius: 25px;
    border: none;
    font-family: SourceSansPro-SemiBold, serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    /*transition: all 0.4s;*/
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgba(189, 89, 212, 0.5);
}


.login-form-btn:hover {
    background-color: #4b2354;
    box-shadow: 0 10px 30px 0 rgba(189, 89, 212, 0.8);
}

.login-form {
    text-align: center;
}

.logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #bd59d4;
    margin-bottom: 20px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++     Responsive      +++++++++++++++++++++++++++++*/

@media (max-width: 480px) {
    .form-container {
        padding-left: 50px;
        padding-right: 50px;
    }

}