
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++    FONT   ++++++++++++++++++++++++++++++*/

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('../lib/fonts/source-sans-pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('../lib/fonts/source-sans-pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url('../lib/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf');
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++ RESTYLE TAG  ++++++++++++++++++++++++++*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: SourceSansPro-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: SourceSansPro-Regular, serif;
	font-size: 14px;
	line-height: 1.7;
	color: #cacaca;
	margin: 0;
	transition: all 0.4s;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.txt1 {
  font-family: SourceSansPro-Regular, serif ;
  color: #000000;
}

.txt2 {
  font-family: SourceSansPro-Regular, serif;
  font-size: 16px;
  line-height: 1.4;
  color: #4b2354;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: SourceSansPro-Bold, serif;
  font-size: 30px;
  color: #4b2354;
}

.txt2:hover {
  color: #4b2354;
}

/* header*/
.theme-color {
    font-family: SourceSansPro-Bold, serif;;
    color: #cacaca !important;
}

nav {
    /*background-color: #4b2354;*/
    /*background-color: #cacaca;*/
    /*background: #833ab4;*/
    /*background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);*!*/
    background: #833ab4;
    /*background: linear-gradient(to left, #fd1d1d, #833ab4);*/
}

.nav-button {
    font-family: SourceSansPro-Bold, serif;
    background-color: transparent;
    color: #cacaca;
    margin-left: 16px;
    border: 2px solid #cacaca;
    outline: none;
    font-size: 20px;
}

.nav-button:hover {
    /*background: rgb(50,74,172);*/
    /*background: linear-gradient(204deg, rgba(50,74,172,1) 16%, rgba(241,0,0,1) 100%);*/
    /*background: #833ab4;*/
    /*background: linear-gradient(to left,  #fd1d1d, #833ab4);*/
    color: #fcb045;
    border: 2px solid #fcb045;
}

/* checklist*/

.movie-card {
    padding: 4px !important;
    width: max-content;
    /*background-color: #cacaca;*/
    /*background: #833ab4;*/
    /*background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);*/
    background: #833ab4;
    background: linear-gradient(to left, #fd1d1d, #833ab4);
    /*float: left;*/
    display: inline-block;
    margin: 32px 16px 0;
}

.card-footer-padding {
    padding: 2px !important;
    text-align: center !important;
}

.movie-details {
    /*border: 1px solid #131516;*/
    text-align: center;
    padding: 0;
}

.movie-details h6 {
    font-family: SourceSansPro-Bold, serif;
    color: #cacaca;
    padding-top: 4px;
}

hr {
    border: 1px solid #cacaca;
    margin: 6px 0;
    /*width: 98%;*/
}

.movie-icon {
    /*border-radius: 50%;*/
    /*padding: 0;*/
    /*background-color: #007bff;*/
    display: inline-block;
    /*border: 1px solid #4b2354;*/
    text-align: center;
    width: 24%;
}

.movie-icon a i {
    font-size: 24px;
    line-height: 1;
    color: #cacaca;
}

.movie-icon a span {
    font-size: 12px;
}

.movie-icon a {
    font-family: SourceSansPro-Bold, serif;
    color: #cacaca;
}

.icon span {
    /*color: #4b2354;*/
    font-size: 10px;
}

/* model trailer*/
.modal-content iframe{
    margin: 0 auto;
    display: block;
}

.my-model-txt {
    font-family: SourceSansPro-Bold, serif;
    font-size: 20px;
    color: #131516;
}


/* Profile*/

.container{
    height: 100%;
    align-content: center;
}

.image_outer_container{
    margin-top: 30px;
    /*margin-bottom: auto;*/
    border-radius: 50%;
    position: relative;
    text-align: center;
    height: fit-content !important;
}

.image_inner_container{
    border-radius: 50%;
    padding: 10px;
    background: #833ab4;
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

/*.image_outer_container .green_icon{*/
    /*background-color: #4cd137;*/
    /*position: absolute;*/
    /*right: 30px;*/
    /*bottom: 10px;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*border:10px solid white;*/
    /*border-radius: 50%;*/
/*}*/

.image_outer_container p {
    font-family: SourceSansPro-Bold, serif;
    font-size: 20px;
    color: #cacaca;
    margin-top: 20px;
    padding: 4px 12px;
    /*border: 3px solid #fcb045;*/
    border-radius: 6px;
    background: #833ab4;
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
}

.btn-group {
    width: 33%;
}

.btn-color {
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4) !important;
    outline: none;
}

.btn-group button {
    width: 100%;
}

/*.tab-content > .tab-pane {*/
    /*display: none;*/
/*}*/
/*.tab-content > .active {*/
    /*display: block;*/
/*}*/

.nav-tabs {
    /*border: 2px solid  #fcb045;*/

    background: #833ab4;
    /*background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);*/
    border-bottom: none;
}

.nav-tabs .nav-link.active {
    /*border: 2px solid  #fcb045;*/
    font-family: SourceSansPro-Bold, serif;
    font-size: 20px;
    background-color: transparent !important;
    color: white;

}

.nav-tabs .nav-link {
    border: none;
    background: transparent;
    font-family: SourceSansPro-Regular, sans-serif;
    font-size: 20px;
    /*border-color: transparent transparent #007bff;*/
}






/*ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/

.page-header {
    font-family: SourceSansPro-Bold, serif;
    text-align: center;
    margin: 25px 0;
    color: #833ab4;
}

.lib-panel {
    margin: 20px;
    border: 5px solid  #833ab4;
}
/*.lib-panel img {*/
    /*width: 100%;*/
/*}*/

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #833ab4;
    text-align: center;
}


.lib-panel .lib-row {
    padding: 0;
}

.lib-panel .lib-row.lib-header {
    /*background-color: #131417;*/
    font-size: 20px;

    /*margin-left: 10px;*/
    padding: 10px 20px 0 20px;
    margin-bottom: 20px;
    font-family: SourceSansPro-Bold, serif;
    color: #2f9280;
}

/*.lib-panel .lib-row.lib-header .lib-header-seperator {*/
    /*height: 2px;*/
    /*width: 26px;*/
    /*background-color: #833ab4;*/
    /*!*color: #cacaca;*!*/
    /*margin: 20px 0 20px 0;*/
/*}*/

.lib-panel .lib-row.lib-desc {
    position: relative;
    display: block;
    font-size: 13px;
    /**/
}
/*.lib-panel .lib-row.lib-desc a{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*bottom: 10px;*/
    /*left: 20px;*/
/*}*/


/*.box-shadow {*/
    /*-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);*/
    /*box-shadow: 0 0 10px 0 rgba(0,0,0,.10);*/
/*}*/

.no-padding {
    padding: 0;
}

.col-md-6 .card-img {
    width: 170px;
    height: auto;
}

.my-col-2 {
    margin-left: 5px;
    height: 364px;
    background-color: #131417;
}


.page-wrap {
    min-height: 100vh;
}