<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/fontawesome/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

<body style="background-color: #131516">
<div th:replace="fragments/header.html :: header"></div>


<div class="container">
    <div class="page-header">
        <h1>MCU Calendar</h1>
    </div>
    <div class="row">

        <div class="col-md-6 no-padding lib-item" data-category="view" th:each="movie : ${MCUMovies}">
            <div class="lib-panel">
                <div class="row">
                    <div class="col-md-6">
                        <img th:src="${movie.moviePosterURL}" height="364px" width="252px"/>
                    </div>
                    <div class="col-md-6">
                        <div class="my-col-2">
                            <div th:text="${movie.movieName}" class="lib-row lib-header">
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                <img class="card-img" th:src="${movie.movieReleaseDate}" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
</body>

</body>
</html>