<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html xmlns: th="http://www.thymeleaf.org">-->
<head>
    <title>sign in</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>

<div class="page-container">
    <div class="form-container">
        <form class="login-form" th:action="@{/home}" method="post">
                <img class="img-responsive logo" src="/img/logo.jpeg" />
				<span class="login-form-title">
					Sign In
				</span>
<!---->
            <input type="email" placeholder="Enter email" required="true">
<!---->
            <input type="password"  placeholder="Enter password"  required="true">
<!---->
            <div class="container-btn">
                <button class="login-form-btn" th:href="@{/home}">
                    Sign In
                </button>
            </div>
<!---->
            <div class="text-center">
                <span class="txt1">Don’t have an account? </span>
                <a th:href="@{/signup}" class="txt2">
                    Sign Up
                </a>

            </div>

        </form>
    </div>
</div>

</body>
</html>