<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="page-container">
    <div class="form-container">
        <form class="login-form">
            <img class="img-responsive logo" src="/img/logo.jpeg" />
				<span class="login-form-title">
					Sign up
				</span>

            <input type="email" name="sign-up-email" placeholder="Enter email" required="true">

            <input type="password" name="sign-up-password" placeholder="Enter password" required="true">

            <div class="container-btn">
                <button class="login-form-btn">
                    Sign In
                </button>
            </div>

            <div class="text-center">
                <span class="txt1">Already have an account? </span>
                <a th:href="@{/}" class="txt2">
                    Sign In
                </a>
            </div>

        </form>
    </div>
</div>

</body>
</html>